* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html, body {
    width: 100%;
    height: auto;
    background: #050b1e;
}

body {
    color: white;
}

/* NAVBAR */
nav {
    position: fixed;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}
/* GLOBAL SCROLL REVEAL BASE */
.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.9s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* HERO */
.hero-container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-text { flex:1; padding-right:50px; color:white; }
.hero-text h1 { font-size:4rem; color:#00f2ff; margin-bottom:15px; }
.hero-text h2 { font-size:2.5rem; margin-bottom:20px; }
.hero-text p { font-size:1.5rem; margin-bottom:20px; }
.hero-text button {
    padding:12px 25px;
    border:none;
    border-radius:25px;
    background:linear-gradient(45deg,#00f2ff,#7cffcb);
    color:white;
    cursor:pointer;
}
.hero-text button:hover {
    background-position: 100% 0;
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0,255,255,0.5);
}

.hero-image {
    display:flex; 
    justify-content:center; 
    align-items:center; 
}
.photo-glow {
    width: 280px;
    height:280px;
    border-radius: 50%;
    padding:6px;
    background:linear-gradient(90deg,#00f2ff,#7cffcb);
    animation: glow 5s linear infinite;
    display:flex;
    justify-content:center;
    align-items:center;
}
.photo-glow img { width:100%; height:100%; border-radius:50%; }

/* About Section */
.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: right ;
    padding: 50px;
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.about-container {
    display: flex ;
    max-width: 10000px;
    width: 100%;
    gap: 150px;
    align-self: start;
}

.about-image img {
    width: 300px;
    height: 400px;
    object-fit: left;
    border: 4px solid #00f2ff;
}

.about-text h2 {
    font-size: 3rem;
    color: #00f2ff;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.7rem;
    line-height: 1.6;
    align-items: end;
}
#skills {
    min-height: 100vh;
    padding: 50px;
    position: relative;
    z-index: 1;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
    color: white;
}

#skills h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #00f2ff;
}

/* Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
}

/* Skill Cards */
.skill-card {
    background: linear-gradient(135deg, rgba(255,255,255,0.05), rgba(255,255,255,0.1));
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* Outer glow effect */
.skill-card::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 30px;
    background: linear-gradient(45deg,#00f2ff,#ff00ff,#7cffcb);
    z-index: -1;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.skill-card:hover::before {
    opacity: 1;
}

/* Mouse hover animation */
.skill-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,255,255,0.3);
}

/* Skill icon */
.skill-icon {
    font-size: 4rem;
    margin-bottom: 15px;
    color: #00f2ff;
    transition: transform 0.5s ease;
}

.skill-card:hover .skill-icon {
    transform: scale(1.3) rotate(15deg);
}

.skill-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1rem;
    color: #ccc;
}


/* PROJECTS SECTION */
.projects-section {
  position: relative;
  min-height: 100vh;
  padding: 80px 50px;
  overflow: hidden;
  color: white;
  z-index: 1;
}

/* Sliding background */
.projects-bg {
  position: absolute;
  inset: 0;
  background: url("images/bg-slide.jpg") repeat-x;
  background-size: cover;
  animation: bgSlide 25s linear infinite;
  opacity: 0.15;
  z-index: 0;
}

@keyframes bgSlide {
  from { background-position: 0 0; }
  to { background-position: -2000px 0; }
}

/* Title */
.section-title {
  text-align: center;
  font-size: 3rem;
  color: #00f2ff;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

/* Container */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 2;
}

/* Project Card */
.project-card {
  position: relative;
  width: 300px;
  height: 380px;
  background: rgba(255,255,255,0.05);
  transform: scale(1.2) rotate(8deg);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  border: 2px solid rgba(0,242,255,0.4);
  
  /* Hidden initially */
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.49s ease;
  box-shadow: 0 0 25px rgba(0,242,255,0.25);
  transform-style: preserve-3d;
  overflow: hidden;
}
.project-card{
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,255,255,0.3);
}
.project-card img {
  transition: transform 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.08);
}

/* Image */
.project-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
}

/* Name */
.project-card h3 {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #00f2ff;
  
}

/* Crystal light hover */
.project-card:hover {
  transform: scale(1.08) translateY(-10px);
  box-shadow:
    0 0 20px rgba(0,242,255,0.8),
    0 0 40px rgba(0,242,255,0.6),
    0 0 90px rgba(0,242,255,0.4)
    inset 0 0 20px rgba(255,255,255,0.34);
  border-color: #00f2ff;
}
.project-card.from-right {
  transform: translateX(120px);
}
.project-card.from-up {
  transform: translateY(120px);
}
.project-card.from-left {
  transform: translateX(-120px);
}

/* Active state */
.project-card.show {
  opacity: 1;
  transform: translate(0, 0);
}

/* Different entry animations */
.project-card:nth-child(1) {
  transform: translateX(100px);
}
.project-card:nth-child(2) {
  transform: translateY(100px);
}
.project-card:nth-child(3) {
  transform: translateX(-100px);
}


/* CONTACT SECTION */
.contact-section {
  position: relative;
  min-height: 100vh;
  padding: 100px 40px 60px;
  overflow: hidden;
  color: white;
  background: #050b1e;
}
.project-card::before {
  content: "";
  position: absolute;
  inset: -60%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(0,242,255,0.5),
    transparent
  );
  transform: rotate(0deg);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-card:hover::before {
  opacity: 1;
  animation: crystalLight 1.5s linear infinite;
}

@keyframes crystalLight {
  from { transform: rotate(0deg) translateX(-100%); }
  to   { transform: rotate(0deg) translateX(100%); }
}


/* Moving letters background */
.letters-bg {
  position: absolute;
  inset: 0;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(255,255,255,0.04);
  white-space: nowrap;
  display: flex;
  align-items: center;
  animation: lettersMove 20s linear infinite;
  z-index: 0;
}

@keyframes lettersMove {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

/* Content */
.contact-container {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: auto;
  text-align: center;
  backdrop-filter: blur(15px);
  padding: 50px;
  border-radius: 25px;
  border: 2px solid rgba(0,242,255,0.4);
  box-shadow: 0 0 30px rgba(0,242,255,0.25);
}

/* Details */
.contact-details p {
  font-size: 1.3rem;
  margin: 15px 0;
}

/* Icons */
.contact-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  border: 2px solid #00f2ff;
  transition: all 0.4s ease;
  box-shadow: 0 0 15px rgba(0,242,255,0.4);
}

/* Crystal hover */
.icon:hover {
  transform: scale(1.2) rotate(8deg);
  box-shadow:
    0 0 20px #00f2ff,
    0 0 40px #00f2ff,
    inset 0 0 20px rgba(255,255,255,0.4);
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 80px;
  font-size: 1rem;
  opacity: 0.7;
}

/* Canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}